<div id="index">
	<div class="container-fluid heading">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cape Trip 2016</h1>
				<h3>We're planning a trip to the cape this summer</h3>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 timeline">
				<div class="vertical"></div>
				<ol class="interactive">
					<li data-anim="-150|100|300" style="top: -150px;" class="step01 section text-left">
						<div class="date"><p>EST. 1921</p><span></span></div>
					</li>
					<li data-anim="-480|100|625" style="top: -480px;" class="step02 section text-right">
						<div class="date"><p>1953</p><span></span></div>
					</li>
					<li data-anim="-800|100|950" style="top: -800px;" class="step03 section text-left">
						<div class="date"><p>1974</p><span></span></div>
					</li>
					<li data-anim="-1130|100|1250" style="top: -1130px;" class="step04 section text-right">
						<div class="date"><p>2002</p><span></span></div>
					</li>
					<li data-anim="-1200|100|1550" style="top: -1200px;" class="step03 section text-left">
						<div class="date"><p>2016</p><span></span></div>
					</li>
					<li data-anim="-1800|25|2100" style="top: 100px;" class="dot section"></li>
				</ol>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Let's Pick A Date</h3>
					<p>July 15 - 17</p>
					<p>July 22 - 24</p>
				</div>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Let's choose a beer</h3>
					<p>A</p>
					<p>b</p>
					<p>c</p>
				</div>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Provincetown?</h3>
					<p>Yes</p>
					<p>or</p>
					<p>YASS</p>
				</div>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Music?</h3>
					<p>Slow Jams</p>
					<p>EDM</p>
					<p>Gangsta Rap</p>
				</div>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Results</h3>
					<p>Slow Jams</p>
					<p>EDM</p>
					<p>Gangsta Rap</p>
				</div>
			</div>
		</div>
	</div>
</div>