<div id="index">
	<div class="container-fluid heading">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cape Trip 2016</h1>
				<h3>We're planning a trip to the cape this summer</h3>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Let's Pick A Date</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="date section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

				</div>
			</div>
		</div>
	</div>
</div>