<!DOCTYPE html>
<html>
<head>
  <title>Cape Trip 2016</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


	<%= yield %>

<link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700italic' rel='stylesheet' type='text/css'>
</body>
</html>
